<style>
  #wrapper {
    display:flex;
    justify-content: space-between;
    align-items: flex-start;
  }
  aside {
    display:flex;
    justify-content: space-between;
    align-items: flex-end;
  }
</style>

<h1 class="text-center mb-4">Welcome to my todolist app</h1>
<div id="wrapper" class="container borderless">
  <%= render 'layouts/task_form'  %>
  <aside>
    <ul class="list-group">
      <% @categories.each do  |category|%>
        <li class="list-group-item">
          <button
            class="btn btn-info tablinks"
            id="id-btn-<%= category.title.downcase.gsub('/', '').gsub(' ', '') %>"
            >
              <%= category.title.capitalize  %>
          </button>
        </li>
        <div
          id="id-content-<%= category.title.downcase.gsub('/', '').gsub(' ', '') %>"
          class="card tabcontent"
          >
          <ul class="list-group">
            <% category.tasks.each do |task|  %>
              <li class="list-group-item">
                <%= task.title.capitalize  %>
                <br>
                <% unless task.deadline.nil? %>
                To read: <%= task.deadline.strftime('%D')  %>
                <br>
                <%= link_to "Edit this task", edit_task_path(task) %>
                <% end %>
              </li>
            <% end %>
          </ul>
        </div>
      <% end %>
    </ul>
  </aside>
</div>

<%= render partial: "layouts/carroussel.html.erb" %>

<script type="text/javascript">
  $(function() {
    var container_base_id = 'id-content-';
    var containers = $('[id*=' + container_base_id + ']');

    var btn_base_id = 'id-btn-';
    var btns = $('[id*=' + btn_base_id + ']'); 

    containers.each(function() {
      self = $(this);
      self.toggle();
    });
    
    btns.each(function() {
      $(this).on('click', function() {
        category_id = $(this).attr('id').split('-')[2]
        container_id = '#' + container_base_id + category_id;
        var object = $(container_id);

        containers.each(function() {
          if ($(this).attr('id') != container_id) {
            if ($(this).css('display') == 'flex') {
              $(this).toggle();
            }
          }
        });

        object.toggle();
      });
    });
  });
</script>