<div class="container">
  <div class="row ml-3">
      <div class="offset-md-3 col-md-6 offset-md-3">
          <%= form_for Task.new, remote: true, class:"form", method: "post", id: "contact-form" do |f|%>
              <div class="form-group">
                  <%= f.text_field :title, class: "form-control", placeholder: "Task Title" %>
              </div>
              <div class="form-group">
                  <%= f.label "Deadline", class: "form-label" %>
                  <%= f.date_field :deadline, class: "form-control" %>
              </div>
              <div class="form-group">
                  <%= f.label "Category", class: "form-label" %>
                  <%= f.select(:category, options_for_select(@categories.map{ |c| [c.title, c.id]}), class: "form-control") %>
              </div>
              <div class="text-center">
                  <%= f.submit("Create task", class: "btn btn-start-order") %>
              </div>
          <%end%>
      </div>
  </div>
</div>